@use "../global" as global;

.u-separate {
  margin: 100px auto;

  @include global.mq(sp) {
    margin: 60px auto;
  }
}

.u-separate__light {
  background: #f9f9f9;
  margin: 0 auto;
  padding: 100px 0;

  @include global.mq(sp) {
    padding: 60px 0;
  }
}

.u-separate__title {
  font-family: 'Futura';
  color: #9f9ec1;
  font-size: 36px;
  font-weight: 700;
  text-align: center;

  @include global.mq(sp) {
    font-size: 22px;
  }
}

.u-separate__subtitle {
  margin-top: 18px;
  color: global.$accent-color;
  font-size: 48px;
  font-weight: 700;
  text-align: center;

  @include global.mq(sp) {
    margin-top: 12px;
    font-size: 30px;
    line-height: 1.4;
    letter-spacing: .05em;
  }
}

.u-separate__section {
  align-items: center;
  display: flex;
}

.u-separate__sectionTitle {
  margin-left: 118px;
  position: relative;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.4;
  font-family: global.$ff-en;
  letter-spacing: .1;
  z-index: 2;

    &::before {
      content: "";
      position: absolute;
      background: global.$main-color;
      width: 35px;
      height: 35px;
      top: -9px;
      left: -18px;
      z-index: -1;
    }
  }

  .u-separate__sectionSub {
    margin-left: 48px;
    font-size: 20px;
    line-height: 1.5;
    font-family: global.$ff-logo;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -24px;
      border-left: 1px solid global.$main-color;
      width: 1px;
      height: 40px;
    }
  }

  .u-separate__sub {
    margin-top: 64px;
    margin-left: 146px;
  }

  .u-separate__sub-title {
    font-family: global.$ff-en;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: global.$main-color;
    position: relative;

    span {
      font-size: 20px;
      margin-left: 8px;
      color: global.$text-color;
      font-family: global.$ff-logo;
    }

    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      top: 50%;
      left: -16px;
      transform: translateY(-50%);
      background: #d9d9d9;
    }
  }
