@use "../global" as global;

.p-about {
  @include global.mq(sp) {
    padding-top: 20px;
  }
}
.p-about__text {
  margin-top: 29px;
  font-size: 18px;
  text-align: center;
  line-height: 1.8;

  span {
    font-weight: 700;
  }

  @include global.mq(sp) {
    margin-top: 24px;
    font-size: 16px;
    line-height: 1.6;
  }

}

.p-about__btn {
  margin-top: 40px;
  text-align: center;

  @include global.mq(sp) {
    margin-top: 24px;
  }

}
