@use "../global" as global;

.p-drawer {
  background: url(/assets/img/humberger.png)no-repeat center center /contain;
  margin: 37.37px auto 0;
  width: 37.37px;
  height: 26.25px;
  cursor: pointer;
  position: relative;

  &.is-open {
    content: "";
    position: absolute;
    background: url(/assets/img/batsu.png)no-repeat;
    width: 56px;
    height: 56px;
    top: 0;
    left: 0;
    z-index: 10;
  }

  @include global.mq(sp) {
    margin-top: 22px;
    width: 20px;
    height: 15px;

    &.is-open {
      width: 46px;
      height: 46px;
      top: 10px;
      right: 10px;
    }
  }
}

.p-drawer__content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: global.$sub-color;
  z-index: 22;
  transform: translateX(105%);
  transition: transform .5s ease 0s;

  &.is-open {
    transform: translateX(0%);
  }
}

.p-drawer__box {
  margin: 30px auto;
  width: 1380px;
  max-width: 100%;
  height: 800px;
  background: #fff;

  @include global.mq(sp) {
    display: none;
  }
}

.p-drawer__box-sp {
  display: none;

  @include global.mq(sp) {
    display: block;
    margin: 8px 10px;
    max-width: 100%;
    height: 537px;
    background: #fff;
  }
}

.p-drawer__lists {
  width: inherit;
  height: 714px;
  display: flex;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: url(/assets/img/logo-dr.png) no-repeat;
    width: 302px;
    height: 218px;
    top:-30px;
    left: 0;
    z-index: 10;
  }

  &::after {
    content: "";
    position: absolute;
    background: url(/assets/img/batsu.png)no-repeat;
    width: 56px;
    height: 56px;
    top: 24px;
    right: 24px;
    z-index: 10;
  }

  @include global.mq(sp) {
    max-width: 100%;
    height: auto;
    display: block;


    &::before {
      background: url(/assets/img/logo-sp.png) no-repeat;
      width: 154px;
      height: 54px;
      top: 19px;
      left: 51.5%;
      transform: translateX(-50%);
    }

    &::after {
      background: url(/assets/img/batsu-sp.png)no-repeat;
      width: 46px;
      height: 46px;
      top: 10px;
      right: 10px;
    }
  }
}

.p-drawer__lists {

  @include global.mq(sp) {
    padding-top: 94px;
    padding-left: 89px;
  }
}

.p-drawer__list-left {
  width: 43.5%;
  margin-top: 168px;
  margin-left: 172px;
  padding-right: 0;
  border-right: 1px solid global.$text-color;
}

.p-drawer__list-right {
  width: 50%;
  margin-top: 168px;
  margin-left: 91px;
}

.p-drawer__lists li {
  margin-top: 24px;
  display: block;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: .03em;;
  color: global.$text-color;
  font-family: global.$ff-logo;
  position: relative;

  &:nth-child(n + 2) {
    margin-top: 29px;
  }

  @include global.mq(sp) {
    font-size: 18px;

    &:nth-child(n + 2) {
      margin-top: 22px;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

.p-drawer__button {
  margin-top: 35px;

  @include global.mq(sp) {
    margin-top: 46px;
  }
}

.p-drawer__background {
  position: fixed;
  top: 52px;
  left: 0;
  width: 100%;
  height: 100%;
  background: global.$sub-color;
  opacity: 0.9;
  z-index: 21;
  display: none;

  &.is-open {
    display: block;
  }
}

.p-drawer__footer {
  width: 100%;
  margin: 34px auto 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-top: 1px solid global.$text-color;
    height: 1px;
    width: 20px;
    top:40%;
    left: 48.6%;
    transform: rotate(-45deg);
  }

  &::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid global.$text-color;
    height: 1px;
    width: 20px;
    top:40%;
    left: 49.7%;
    transform: rotate(45deg);
  }

  @include global.mq(sp) {
    margin: 0 auto;
    padding: 17px 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

.p-drawer__nav {
  width: inherit;
  display: flex;
  justify-content: end;

  @include global.mq(sp) {
    justify-content: center;
    gap: 16px;
  }
}

.p-drawer__item {
  font-size: 18px;
  color: #000;
  margin-left: 22px;

  &:last-child {
    margin-right: 170px;
  }

  @include global.mq(sp) {
    font-size: 14px;
    margin-left: 0px;

    &:last-child {
      margin-right: 0;
    }
  }
}
