@use "../global" as global;

.p-drawer {
  background: url(/public/assets/img/humberger.png)no-repeat center center /contain;
  margin-top: 37.37px;
  cursor: pointer;
  position: relative;

  @include global.mq(sp) {
    top: 10px;
    transition: transform .3s ease;
    z-index: 23;
  }

  &.is-open {
    content: "";
    position: absolute;
    background: url(/public/assets/img/batsu.png)no-repeat;
    width: 56px;
    height: 56px;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

.p-drawer__content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: global.$sub-color;
  z-index: 22;
  transform: translateX(105%);
  transition: transform .5s ease 0s;

  &.is-open {
    transform: translateX(0);
  }
}

.p-drawer__box {
  margin: 30px auto;
  width: 1380px;
  max-width: 100%;
  height: 800px;
  background: #fff;
}

.p-drawer__lists {
  width: inherit;
  height: 714px;
  display: flex;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: url(/public/assets/img/logo.svg) no-repeat;
    width: 302px;
    height: 218px;
    top:-20px;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background: url(/public/assets/img/batsu.png)no-repeat;
    width: 56px;
    height: 56px;
    top: 24px;
    right: 24px;
    z-index: 10;
  }
}

.p-drawer__list-left {
  width: 50%;
  margin-top: 168px;
  margin-left: 172px;
  border-right: 1px solid global.$text-color;

}

.p-drawer__list-right {
  width: 50%;
  margin-top: 168px;
  margin-left: 91px;

}

.p-drawer__lists li {
  margin-top: 24px;
  display: block;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: .03em;;
  color: global.$text-color;
  position: relative;

  &:nth-child(n + 2) {
    margin-top: 32px;
  }
}

.p-drawer__button {
  margin-top: 64px;
}

.p-drawer__background {
  position: fixed;
  top: 52px;
  left: 0;
  width: 100%;
  height: 100%;
  background: global.$sub-color;
  opacity: 0.9;
  z-index: 21;
  display: none;

  &.is-open {
    display: block;
  }
}

.p-drawer__footer {
  width: 100%;
  margin: 34px auto 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-top: 1px solid global.$text-color;
    height: 1px;
    width: 20px;
    top:50%;
    left: 51.5%;
    transform: rotate(-45deg);
  }

  &::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid global.$text-color;
    height: 1px;
    width: 20px;
    top:50%;
    left: 52.5%;
    transform: rotate(45deg);
  }
}

.p-drawer__nav {
  width: inherit;
  display: flex;
  justify-content: end;
}

.p-drawer__item {
  font-size: 18px;
  color: #000;
  margin-left: 24px;

  &:last-child {
    margin-right: 174px;
  }
}
