@use "../global" as global;

.p-footer {

}

.p-footer__label {
  font-size: 24px;
  font-weight: 900;
}

.p-footer__nav {
  margin-top: 19px;
  display: inline-flex;
}

.p-footer__item {
  font-size: 14px;
  font-weight: 700;
  margin-right: 14px;
}

.p-footer__copylight {
  margin-top: 14px;
  font-size: 10px;
  display: flex;

  p {
    margin-right: 14px;
  }
}

.p-footer__title {
  font-size: 18px;
  font-weight: 700;
}

.p-footer__sns {
  display: inline-flex;
  margin-top: 12px;
}

.p-footer__sns-icon {
  width: 24px;
  height: 24px;
  margin-right: 18px;
}
