@use "../global" as global;

.p-insta {
  margin: 64px auto 0;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include global.mq(sp) {
    margin: 19px auto 0;
    width: 346px;
  }
}

.p-insta__img {

  img {
    margin-right: 40px;
    width: 260px;
    height: 260px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-child(n + 5) {
      margin-top: 37px;
    }
  }

  @include global.mq(sp) {
    img {
      margin-right: 24px;
      width: 96px;
      height: 96px;

      &:nth-child(3n) {
        margin-right: 0px;
      }

      &:nth-child(4n) {
        margin-right: 24px;
      }

      &:nth-child(n + 4) {
        margin-top: 16px;
      }

      &:nth-child(n + 7) {
        display: none;
      }
    }
  }
}
