@use "../global" as global;

.p-new {
  margin: 32px auto 0;
  width: 1243px;
  max-width: 100%;
  height: 504px;
  background: global.$sub-color;

  @include global.mq(sp) {
    margin-top: 25px;
    height: 565px;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: global.$sub-color;
      height: inherit;
      width: 20px;
      top: 0;
      left: -16px;
    }
  }
}

.p-new__sectionTitle {
  margin-left: 117px;

  @include global.mq(sp) {
    margin-left: 41px;
  }
}

.p-new__items {
  padding-top: 22px;
  max-width: 100%;
  display: flex;

  @include global.mq(sp) {
    margin-left: 6px;
  }
}

.p-new__card {
  margin-top: 2px;
  width: 397px;
  max-width: 100%;
  height: 412px;
  max-height: 100%;
  background: #fff;
  margin-right: 35px;
  margin-left: 8px;

  @include global.mq(sp) {
    width: 297px;
    height: 469px;
  }
}

.p-new__head {
  max-width: 100%;
  padding-top: min(1.94444vw, 28px);
  margin-left: 31px;
  display: flex;

  @include global.mq(sp) {
    padding-top: 24px;
    margin-left: 8px;
  }
}

.p-new__row {
  display: flex;
}

.p-new__img {
  // width: 140px;
  position: relative;

  img {
    width: 148px;
    max-width: 100%;
    height: 163px;
    max-height: 100%;
  }

  @include global.mq(sp) {
    width: 134px;

    img {
      width: 134px;
      height: 164px;
    }
  }
}

.p-new__good {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;

  @include global.mq(sp) {
    top: 7px;
    right: 6px;
  }
}

.p-new__name {
  margin-top: 18px;
  font-size: min(1.527778vw, 22px);
  line-height: 1.1;
  font-family: global.$ff-logo;
  color: #000;

  @include global.mq(sp) {
    margin-top: 8px;
    font-size: 20px;
  }
}

.p-new__job {
  margin-top: 2px;
  font-size: min(.83333vw, 12px);
  color: #000;

  @include global.mq(sp) {
    font-size: 12px;
  }
}

.p-new__content {
  width: calc(100% - 140px - 30px);
  width: 228px;
  max-width: 100%;
  margin-left: 9px;

  @include global.mq(sp) {
    width: calc(100% - 134px - 8px);
    margin-top: -3px;
  }
}

.p-new__title {
  margin-top: 14px;
  width: 100%;
  font-size: min(1.25vw, 18px);
  line-height: 1.33;
  font-family: global.$ff-logo;

  @include global.mq(sp) {
    font-size: 16px;
    margin-top: 30px;
  }
}

.p-new__area {
  margin-top: min(1.6667vw, 24px);
  width: 100%;

  @include global.mq(sp) {
    margin-top: 27px;
  }
}

.p-new__label {
  display: inline;
  background: #fff;
}

.p-new__place {
  margin-top:4px;
  max-width: 100%;
  font-size: min(.97222vw, 14px);
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding-right: 10px;

  @include global.mq(sp) {
    font-size: 12px;
    padding-right: 19px;
  }
}

.p-new__tag {
  width: 100%;
  padding-right: min(1.875vw, 27px);
  margin: 8px auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  @include global.mq(sp) {
    display: none;
  }
}

.p-new__tag-sp {
  display: none;

  @include global.mq(sp) {
    margin: 0 10px 9px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
}

.p-new__body {
  margin-top: min(.902778vw, 13px);
  margin-bottom: min(2.291667vw, 33px);

  @include global.mq(sp) {
    margin-top: 9px;
    margin-bottom: 48px;
  }
}

.p-new__points {
  margin: 0 auto;
  width: 336px;
  max-width: 100%;
  height: 93px;
  max-height: 100%;
  background: #75767624;

  @include global.mq(sp) {
    width: 271px;
    height: 116px;
  }
}

.p-new__text {
  color: #000;
  padding-top: 6px;
  margin-left: -7px;
  display: flex;
  align-items: flex-start;

  @include global.mq(sp) {
    display: block;
    padding-top: 9px;
    margin-left: -1px;
  }
}

.p-new__textLeft {
  width: 30px;
  max-width: 100%;
  margin-left: 42px;

  @include global.mq(sp) {
    margin-left: 32px;
  }
}

.p-new__point {
  font-size: min(.83333vw, 12px);
  line-height: 1.5;
  font-family: global.$ff-logo;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: url(/assets/img/horn.png) no-repeat;
    width: 13px;
    height: 13px;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
  }

  @include global.mq(sp) {
    font-size: 12px;

  }
}

.p-new__textRight {
  width: calc(100% - 30px);
  max-width: 100%;
  margin-left: 39px;
  margin-top: 3px;

  li {
    font-size: min(.97222vw, 14px);
    font-weight: 500;
    list-style: disc;
    line-height: 1.8;
    font-family: global.$ff-base;
  }

  @include global.mq(sp) {
    margin-top: 7px;
    margin-left: 39px;

    li {
      font-size: 14px;
    }
  }
}

.p-new__btn {
  margin-top: 65px;
  margin-left: 15px;
  text-align: center;

  @include global.mq(sp) {
    margin-top: 63px;
    margin-left: 0px;
  }
}
