@use "../global" as global;

.p-newReport {
  margin: 65px auto 64px;
}

.p-newReport__title {
  margin-left: 116px;
}

.p-newReport_items {
  padding-top: 20px;
}

.p-newReport__btn {
  margin-top: 63px;
  text-align: center;
}
