@use "../global" as global;

.p-planner {
  margin: 32px auto 0;
  display: flex;
  justify-content: center;
  gap: min(1.6667vw, 24px);

  @include global.mq(sp) {
    display: none;
  }
}

.p-planner__sp {
  display: none;


  @include global.mq(sp) {
    display: block;
    margin: 0 auto;
  }
}

.p-planner__card {
  width: min(27.56944vw, 397px);
  width: 397px;
  max-width: 100%;
  height: 567px;
  height: auto;
  max-height: 100%;
  background: global.$sub-color;
  position: relative;

  @include global.mq(sp) {
    width: 295px;
    height: 645px;
  }
}

.p-planner__gold {
  content: "";
  position: absolute;
  background: url(/assets/img/gold.png) no-repeat;
  width: 46px;
  height: 60px;
  top: 0;
  left: 13px;
  z-index: 2;

  &.-silver {
    background: url(/assets/img/silver.png) no-repeat;
  }

  &.-blonde {
    background: url(/assets/img/blonde.png) no-repeat;
  }
}

.p-planner__head {
  margin-top: 39px;
  margin-left: min(2.222vw, 32px);
  display: flex;

  @include global.mq(sp) {
    margin-top: 0;
    margin-left: 6px;
    padding-top: 45px;
  }
}

.p-planner__img {
  width: 140px;
  max-width: 100%;
  position: relative;

  img {
    width: 140px;
    max-width: 100%;
    height: 160px;
    max-height: 100%;
  }

  @include global.mq(sp) {
    width: 134px;

    img {
      width: 134px;
      height: 164px;
    }
  }
}

.p-planner__good {
  content: "";
  position: absolute;
  top: 4px;
  right: 8px;

  @include global.mq(sp) {
    top: -2px;
    right: 5px;
  }
}

.p-planner__name {
  margin-top: 9px;
  margin-left: -2px;
  font-size: min(1.52778vw, 22px);
  line-height: 1.1;
  font-family: global.$ff-logo;
  color: #000;

  @include global.mq(sp) {
    margin-top: 5.5px;
    margin-left: 2px;
    font-size: 20px;
  }
}

.p-planner__job {
  margin-top: 2px;
  margin-left: -2px;
  font-size: min(.83vw, 12px);
  color: #000;

  @include global.mq(sp) {
    margin-top: 3px;
    margin-left: 1px;
    font-size: 12px;
  }
}

.p-planner-content {
  width: calc(100% - 140px - 15px);
  max-width: 100%;
  margin-left: 8px;

  @include global.mq(sp) {
    width: calc(100% - 134px - 8px);
  }
}

.p-planner__title {
  margin-right: min(.97222vw,14px);
  font-size: min(1.25vw, 18px);
  line-height: 1.33;
  font-family: global.$ff-logo;

  @include global.mq(sp) {
    font-size: 16px;
    margin-top: 26px;
  }
}

.p-planner__area {
  margin-top: 23px;
  width: 100%;

  @include global.mq(sp) {
    margin-top: 27px;
  }
}

.p-planner__label {
  display: inline;
  background: #fff;
}

.p-planner__place {
  margin-top:4px;
  width: inherit;
  font-size: min(.97222vw, 14px);
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  @include global.mq(sp) {
    font-size: 12px;
    padding-right: 12px;
  }
}

.p-planner__tag {
  margin: 8px auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.p-planner__tag-sp {
  margin: 0 10px 8px;
  margin-right: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.p-planner__body {
  margin-top: 18px;
  margin-bottom: 32px;

  @include global.mq(sp) {
    margin-top: 9px;
    margin-bottom: 48px;
  }
}

.p-planner__points {
  margin: 0 auto;
  width: 336px;
  height: 93px;
  max-width: 100%;
  background: #fff;

  @include global.mq(sp) {
    width: 271px;
    height: auto;
    padding-bottom: 7px;
  }
}

.p-planner__text {
  color: #000;
  padding-top: 11px;
  display: flex;
  align-items: flex-start;

  @include global.mq(sp) {
    display: block;
    padding-top: 13px;
  }
}

.p-planner__textLeft {
  width: 30px;
  margin-left: 44px;

  @include global.mq(sp) {
    margin-left: 32px;
  }
}

.p-planner__point {
  font-size: min(.83333vw, 12px);
  line-height: 1.5;
  font-family: global.$ff-logo;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: transparent url(/assets/img/horn.png) no-repeat;
    width: 13px;
    height: 13px;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
  }

  @include global.mq(sp) {
    font-size: 12px;
  }
}

.p-planner__textRight {
  width: calc(100% - 30px);
  margin-top: -1px;
  margin-left: 30px;

  li {
    font-size: min(.97222vw, 14px);
    font-weight: 500;
    line-height: 1.8;
    font-family: global.$ff-base;
    list-style: disc;
    position: relative;
  }

  @include global.mq(sp) {
    margin-top: 7px;
    margin-left: 38px;

    li {
      font-size: 14px;
    }
  }

}

.p-planner__garally {
  margin-top: 16px;
  margin-left: 46px;
  font-size: min(.83333vw, 12px);
  font-family: global.$ff-logo;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: url(/assets/img/camera.png) no-repeat;
    width: 12px;
    height: 12px;
    top: 50%;
    left: -14px;
    transform: translateY(-50%);
  }

  @include global.mq(sp) {
    margin-top: 8px;
    margin-left: 26px;
  }
}

.p-planner__pics {
  margin-top: 8px;
  display: flex;
  margin: 0 min(2.222vw, 32px);

  @include global.mq(sp) {
    margin-left: 2px;
  }
}

.p-planner__pic {
  margin-left: 0;

  &:nth-child(n + 2) {
    margin-left: min(1.111vw, 16px);
  }

  img {
    width: 159px;
    max-width: 100%;
    height: 111px;
    max-height: 100%;
  }

  @include global.mq(sp) {
    margin-left: 9px;

    &:nth-child(n + 2) {
      margin-left: 8px;
    }

    img {
      width: 131px;
      height: 97px;
    }
  }
}
