@use "../global" as global;

.p-price {
  margin: 0 210px;
}

.p-price__lists {
  margin-top: 68px;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

.p-price__list {
  background: global.$text-color;
  width: 260px;
  height: 270px;
  padding: 47px 0 41px;
  position: relative;

  &:nth-child( 2 ) {
    background: global.$accent-color;
    width: 260px;
    height: 286px;
    padding-top: 63px;
  }
}

.p-preice__title {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 700;


}

.p-price__price {
  margin-top: 17px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-align: center;

  span {
    font-size: 36px;
  }
}

.p-price__list-brn {
  margin-top: 28px;
  text-align: center;
}

.p-price__items {
  width: 100%;

}

.p-price__item {
  display: flex;
  width: inherit;
  height: 60px;
  margin-left: 0;
  background: global.$main-color;
  align-items: center;

}

.p-price__subject {
  font-size: 22px;
  width: calc( 100% - 260px * 3 );
  padding: 19px 0px 19px 32px;
  text-align-last: left;
}

.p-price__body {
  width: 260px;
  max-width: 100%;
  font-size: 18px;
  text-align: center;

  &:nth-child( 3 ) {
    font-weight: 700;
    font-size: 24px;
  }
}

.back-f {
  background: #fff;
}

.p-price__btn {
  margin-top: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

.p-price__btn-box {
  width: 260px;
  text-align: center;
}
