@use "../global" as global;

.p-recommend {
  margin: 64px auto 62px;
  width: 1240px;
  max-width: 100%;
  height: 390px;
  height: auto;
  background: global.$sub-color;

  @include global.mq(sp) {
    margin: 46px auto 0;
    width: 337px;
    height: auto;
  }
}

.p-recommend__box {
  padding: 59px 30px 39px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: min(2.916667vw, 42px) min(4.86111vw, 70px);

  @include global.mq(sp) {
    display: block;
    padding: 38px 25px 25px;
  }
}

.p-recommend__plan {
  width: 342px;
  height: 125px;
  background: #fff;
  display: flex;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: calc(342px - 7px*2);
    height: calc(125px - 7px*2);
    top: 7px;
    left: 7px;
    border: 1px solid #fff;
    z-index: 3;
  }

  &:first-child {
    margin-top: 0;
  }

  &:nth-child(4) {
    margin-right: min(.83333vw, 12px);
  }

  &.is-active {
    color: #fff;

    &::after{
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.49);
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      z-index: 1;
    }
  }

  @include global.mq(sp) {
    width: 292px;
    height: 107px;
    margin-top: 38px;
    margin-right: 0px;

    &:nth-child(4) {
      margin-right: 0;
      margin-top: 40px;
    }

    &::before {
      width: calc(292px - 8px * 2);
      height: calc(107px - 8px * 2);
      top: 8px;
      left: 8px;
    }
  }
}



.p-recommend__ribbon {
  content: "";
    position: absolute;
    background: #D684B8;
    width: 41px;
    height: 41px;
    top: -16px;
    left: -13px;

    @include global.mq(sp) {
      width: 35px;
      height: 35px;
      top: -13px;
      left: -11px;
    }
}

.p-recommend__ribbon2 {
  content: "";
    position: absolute;
    background: #84B6D6;
    width: 41px;
    height: 41px;
    top: -16px;
    left: -13px;

    @include global.mq(sp) {
      width: 35px;
      height: 35px;
      top: -13px;
      left: -11px;
    }
}

.p-recommend__ribbon3 {
  content: "";
    position: absolute;
    background: #F1B04E;
    width: 41px;
    height: 41px;
    top: -16px;
    left: -13px;

    @include global.mq(sp) {
      width: 35px;
      height: 35px;
      top: -13px;
      left: -11px;
    }
}

.p-recommend__ribbon4 {
  content: "";
    position: absolute;
    background: #D6BF84;
    width: 41px;
    height: 41px;
    top: -16px;
    left: -13px;

    @include global.mq(sp) {
      width: 35px;
      height: 35px;
      top: -13px;
      left: -11px;
    }
}

.p-recommend__ribbon5 {
  content: "";
    position: absolute;
    background: #ABD07B;
    width: 41px;
    height: 41px;
    top: -16px;
    left: -13px;

    @include global.mq(sp) {
      width: 35px;
      height: 35px;
      top: -13px;
      left: -11px;
    }
}

.p-recommend__img {
  width: 125px;
  height: inherit;

  @include global.mq(sp) {

  }
}

.p-recommend__content {
  width: calc(342px - 125px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 35px;
  left: -1px;

  &::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid global.$text-color;
    width: 45px;
    bottom: 18px;
    bottom: -20px;
    right: 19px;
  }

  &::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid global.$text-color;
    width: 10px;
    bottom: 21px;
    bottom: -16px;
    right: 18px;
    transform: rotate(45deg);
  }

  &.-outdoor {
    top: 22px;
    left: -1px;

    &::before {
      bottom: -6px;
    }

    &::after {
      bottom: -3px;
    }

    @include global.mq(sp) {

      &::before {
        bottom: 3px;
      }

      &::after {
        bottom: 5px;
      }
    }
  }

  &.is-active {
    z-index: 2;

    &::before,
    &::after{
      border-color: #fff;
    }
  }

  @include global.mq(sp) {
    top: 30px;
    left: -1px;

    &::before {
      width: 38px;
      bottom: -13px;
      right: 14px;
    }

    &::after {
      width: 8px;
      bottom: -11px;
      right: 13px;
      transform: rotate(30deg);
    }
  }
}

.p-recommend__text {
  font-size: 20px;
  // font-size: min(1.388889vw, 20px);
  line-height: 1.35;
  font-weight: 500;
  margin-left: -14px;

  @include global.mq(sp) {
    font-size: 16px;
    margin-left: 17px;
    line-height: 1.68;
  }
}

.p-recommend__footer {
  margin-bottom: 16px;
  margin-right: 16px;
}
