@use "../global" as global;

.p-voice {
  margin: 64px auto 0;
  // margin-left: 45px;
  width: 1235px;
  max-width: 100%;
  height: auto;
  background: #C8C8C8;

  @include global.mq(sp) {
    margin: 25px auto 0;

  }
}

.p-voice__head {
  padding-top: 24px;
  margin-left: min(2.986111vw, 43px);
  display: flex;
  align-items: center;

  &.-satisfaction {
    margin-top: 10px;
  }

  @include global.mq(sp) {
    margin-top: 25px;
    margin-left: 16px;

    &.-satisfaction{
      margin-top: 17px;
    }
  }
}

.p-voice__title {
  font-size: min(1.6667vw, 24px);
  font-family: global.$ff-en;
  line-height: 1.36;
  letter-spacing: .1em;
  color: #fff;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: #D9D9D9;
    width: 8px;
    height: 8px;
    top: 50%;
    left: -16px;
    transform: translateY(-50%);
  }

  @include global.mq(sp) {
    font-size: 16px;
  }
}

.p-voice__sub {
  margin-left: 8px;
  font-size: 20px;
  font-family: global.$ff-logo;
  color: #000;

  @include global.mq(sp) {
    font-size: 16px;
  }
}

.p-voice__news {
  margin-top: 24px;
}

.p-voice__new {
  margin: 0 auto;
  width: 1175px;
  max-width: 100%;
  height: auto;
  background: #fff;
  position: relative;
  display: flex;

  &::before {
    content: "";
    position: absolute;
    background: url(/assets/img/greentag.png)no-repeat;
    width: 75px;
    height: 75px;
    top: 0;
    left: 0;
  }

  &::after {
    content: "NEW";
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-family: global.$ff-logo;
    top: 12px;
    left: 9px;
  }

  @include global.mq(sp) {
    display: none;
  }
}

.p-voice__new-sp {
  display: none;

  @include global.mq(sp) {
    margin: 0 auto;
    margin-left: 0;
    background: #fff;
    width: 358px;
    height: auto;
    display: flex;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: url(/assets/img/greentag-sp.png)no-repeat;
      width: 56px;
      height: 56px;
      top: 0;
      left: 0;
    }

    &::after {
      content: "NEW";
      position: absolute;
      color: #fff;
      font-family: global.$ff-logo;
      font-size: 10px;
      top: 9px;
      left: 7px;
    }
  }

}

.p-voice__row {
  width: 100%;
  display: flex;
}

.p-voice__img {
  margin: 29px auto 31px;
  margin-left: min(1.875vw, 27px);

  img {
    // width: 229px;
    width: 263px;
    max-width: 100%;
    height: 236px;
    max-height: 100%;
  }

  @include global.mq(sp) {
    margin: 16px auto 0;
    margin-left: 13px;

    img {
      width: 100%;
      height: 144px;
    }
  }
}

.p-voice__contents {
  margin: 33px 84px 0 32px;
  width: calc(100% - 256px);
  max-width: 100%;

  @include global.mq(sp) {
    margin: 16px 10px 14px;
    width: 55.85%;
  }
}

.p-voice__content {
  margin: 0 auto 9px;
  display: flex;

  @include global.mq(sp) {
    display: block;
  }
}

.p-voice__comment {
  width: calc(440px - 82px);
  margin-right: 82px;

  @include global.mq(sp) {
    width: 199px;
  }

}

.p-voice__comment-title {
  font-size: min(1.38889vw, 20px);
  font-family: global.$ff-logo;

  @include global.mq(sp) {
    font-size: 16px;
  }
}

.p-voice__evaluation {
  max-width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;

  @include global.mq(sp) {
    margin-top: 5px;
  }
}

.p-voice__evaluation-text {
  font-size: min(.97222vw, 14px);
  font-weight: 500;
  color: global.$text-color;
  margin-right: 8px;
  position: relative;

  @include global.mq(sp) {
    font-size: 12px;
    margin-right: 2px;
  }
}

.p-voice__evaluation-star {
  margin-top: -5px;

  img {
    width: 25px;
    max-width: 100%;
    height: 25px;
    max-height: 100%;
    margin-right: -3px;
  }

  @include global.mq(sp) {
    margin-top: -9px;

    img {
      width: 18px;
      height: 18px;
      margin-right: -2px;
    }
  }
}

.p-voice__planner {
  width: calc(1175px - 27px - 229px - 32px - 84px - 440px);
  max-width: 100%;
  display: flex;
  align-items: center;

  @include global.mq(sp) {
    display: block;
    width: 160px;
  }
}

.p-voice__planner-img {
  position: relative;

  img {
    width: 57px;
    height: 57px;
  }

  &::before {
    content: "";
    position: absolute;
    background: global.$main-color;
    width: 15px;
    height: 15px;
    top: -5px;
    left: -12px;
  }

  @include global.mq(sp) {

    img {
      width: 40px;
      height: 40px;
    }
  }
}

.p-voice__profile {
  margin-top: 2px;
  margin-left: 8px;

  @include global.mq(sp) {
    margin-top: 3px;
    margin-left: 8px;
  }
}

.p-voice__job {
  font-size: min(.83333vw, 12px);
  font-weight: 500;
  line-height: 1.5;

  @include global.mq(sp) {
    font-size: 12px;
  }
}

.p-voice__name {
  font-size: min(1.388889vw, 20px);
  font-weight: 500;
  line-height: 1.5;
  color: #000;

  @include global.mq(sp) {
    font-size: 14px;
  }
}

.p-voice__planner-star {
  margin-top: 22px;
  margin-left: 9px;

  img {
    width: 18px;
    max-width: 100%;
    height: 18px;
    max-height: 100%;
    margin-right: -2px;
  }

  @include global.mq(sp) {
    margin-top: -10px;
    margin-left: -7px;

    img {
      width: 14px;
      height: 14px;
      margin-right: -3px;
    }
  }
}

.p-voice__rank {
  margin-top: 32px;
  margin-left: 6px;
  font-size: min(1.1111vw, 16px);
  color: #000;
  position: relative;

  span {
    margin-left: 6px;
    font-size: min(.83333vw, 12px);
    color: global.$text-color;
  }

  @include global.mq(sp) {
    font-size: 12px;
    margin-top: 4px;
    margin-left: 9px;

    span {
      margin-left: 4px;
      font-size: 10px;
    }
  }

  &.-card {
    @include global.mq(sp) {
      font-size: 16px;

      span {
        font-size: 12px;
        margin-left: 6px;
      }
    }
  }

  &.-sa {
    margin-top: 3px;
    margin-left: min(.763889vw, 11px);
  }
}

.p-voice__text {
  font-weight: 500;
  overflow: hidden;
  font-size: min(1.1111vw, 16px);
  line-height: 1.5;

  @include global.mq(sp) {
    margin-top: 8px;
    margin-right: 20px;
    height: 67px;
    overflow: hidden;
    font-size: 14px;
  }
}

.p-voice__author {
  margin-top: min(1.0416667vw, 15px);
  margin-left: 22px;
  width: 100%;
  display: flex;
  font-size: min(.972222vw, 14px);
  font-weight: 500;

  @include global.mq(sp) {
    font-size: 12px;
    margin-top: -3px;
    margin-left: 35px;
  }
}

.p-voice_author-name {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: url(/assets/img/pencil.png) no-repeat;
    width: 18px;
    height: 18px;
    top: 50%;
    left: -22px;
    transform: translateY(-50%);
  }
}

.p-voice__age {
  margin-left: 4px;
}

.p-voice__gender {
  margin-left: 4px;

  @include global.mq(sp) {
    margin-left: 5px;
  }
}

.p-voice__category {
  margin-top: 7px;
  display: inline-flex;

  @include global.mq(sp) {
    margin-top: 8px;
  }
}

.p-voice__bottom {
  margin-top: 11px;
  text-align: right;
  margin-right: -18px;
  letter-spacing: .1em;

  @include global.mq(sp) {
    width: calc(358px - 160px);
    text-align-last: left;
    margin-top: 35px;
    margin-left: 29px;
  }
}


.p-voice__more {
  font-family: global.$ff-en;
  font-weight: 500;
  font-size: min(1.1111vw, 16px);
  letter-spacing: .1;
  line-height: 1.4;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid global.$text-color;
    width: min(9.375vw, 135px);
    max-width: 100%;
    height: 1px;
    bottom: 0px;
    right: min(2.916667vw, -42px);
  }

  &::after {
    content: "";
    position: absolute;
    border-right: 1px solid global.$text-color;
    width: 1px;
    height: min(1.319444vw, 19px);
    right: min(2.36111vw, -34px);
    top: 33%;
    transform: rotate(-60deg);
  }

  @include global.mq(sp) {
    font-size: 16px;

    &::before {
      width: 135px;
      bottom: 1px;
      right: 59px;
    }

    &::after {
      height: 19px;
      top: 30%;
      right: 65px;
    }
  }
}

.p-voice__cards {
  margin: 23px auto 0;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include global.mq(sp) {
    display: none;
  }
}

.p-voice__card {
  width: 368px;
  max-width: 100%;
  height: 329px;
  height: auto;
  background: #fff;
  position: relative;
  margin-right: 24px;

  @include global.mq(sp) {
    margin-right: 0;
    width: 304px;
    height: 292px;
  }
}

.p-voice__card-head {
  margin-top: 21px;
  margin-left: 16px;
  width: calc(100% - 16px);
  display: flex;

  @include global.mq(sp) {
    margin-top: 0;
    margin-left: 12px;
    padding-top: 16px;
  }
}

.p-voice__card-img {

  img {
    width: 143px;
    max-width: 100%;
    height: 157px;
    max-height: 100%;
  }

  @include global.mq(sp) {

    img {
      width: 112px;
      height: 119px;
    }
  }
}

.p-voice__card-profile {
  width: calc(100% - 136px);
  max-width: 100%;
  margin-top: 9px;
  margin-left: 17px;
  line-height: 1.5;

  @include global.mq(sp) {
    width: calc(100% - 104px);
    margin-top: 4px;
    margin-left: 12px;
  }
}

.p-voice__card-job {
  font-weight: 500;
  color: #000;
  font-size: min(.97222vw, 14px);
  letter-spacing: .02em;

  @include global.mq(sp) {
    font-size: 12px;
  }
}

.p-voice__card-name {
  font-size: min(1.388889vw, 20px);
  color: #000;
  margin-top: 1px;


  @include global.mq(sp) {
    margin-top: 3px;
    font-size: 18px;
  }
}


.p-voice__card-ranking {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: -4px;

  @include global.mq(sp) {
    align-items: flex-start;
  }
}

.p-voice__card-star {
  margin-bottom: 6px;

  img {
    width: 18px;
    max-width: 100%;
    height: 18px;
    max-height: 100%;
    margin-right: -3px;
  }

  @include global.mq(sp) {
    margin-bottom: 13px;
  }
}

.p-voice__card-body {
  margin: 16px 32px 0px 13px;

  @include global.mq(sp) {
    margin: 17px 8px 0;
  }
}

.p-voice__card-comment {
  margin-left: 18px;
  font-size: min(.83333vw, 12px);
  font-weight: 500;
  color: #000;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: url(/assets/img/comment.png)no-repeat;
    width: 13px;
    height: 12px;
    top: 50%;
    left: -18px;
    transform: translateY(-50%);
  }

  @include global.mq(sp) {
    margin-left: 18px;
    font-size: 12px;

    &::before {
      left: -15px;
    }
  }
}

.p-voice__card-title {
  margin-top: 4px;
  font-size: min(.97222vw, 14px);
  font-weight: 700;
  font-family: global.$ff-logo;
  color: #000;

  @include global.mq(sp) {
    font-size: 14px;
    font-weight: 400;
    margin-top: 2px;
    margin-left: 2px;
  }
}

.p-voice__card-text {
  height: 38px;
  font-size: min(.83333vw, 12px);
  font-weight: 500;
  color: #000;
  overflow: hidden;

  @include global.mq(sp) {
    font-size: 12px;
  }
}

.p-voice__footer {
  margin-top: 10px;
  margin-left: 143px;
  margin-bottom: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-bottom: 1px solid global.$text-color;
    height: 1px;
    width: 200px;
    max-width: 100%;
  }

  @include global.mq(sp) {
    margin-top: 15px;
    margin-left: 108px;

    &::before {
      left: 2px;
      bottom: -5px;
      width: 187px;
    }

    &::after {
      content: "";
      position: absolute;
      border-right: 1px solid global.$text-color;
      width: 1px;
      height: 29px;
      bottom: -11px;
      right: 17px;
      transform: rotate(-60deg);
    }
  }
}


.p-voice__footer-text {
  font-size: min(.97222vw, 14px);
  font-family: global.$ff-logo;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid global.$text-color;
    height: 1px;
    width: 20px;
    right: 27px;
    top: 64%;
    transform: translateY(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    border-right: 1px solid global.$text-color;
    width: 1px;
    height: 10px;
    right: 30px;
    top: 30%;
    transform: rotate(-60deg);
  }

  @media screen and (max-width: 1090px) {
    &::before,
    &::after {
      display: none;
    }
  }

  @include global.mq(sp) {
    font-size: 14px;

    &::before,
    &::after {
      display: none;
    }
  }
}

.p-voice__btn {
  margin: 64px auto;
  margin-left: -6px;
  padding-bottom: 64px;
  text-align: center;

  @include global.mq(sp) {
    margin: 48px auto 64px;
  }

}

.p-voice__label {
  content: "";
  position: absolute;
  background: url(/assets/img/gold-sm.png) no-repeat;
  width: 41px;
  height: 50px;
  top: 0;
  left: 12px;

  &.-sliver {
    background: url(/assets/img/sliver-sm.png) no-repeat;
  }

  &.-blonde {
    background: url(/assets/img/blonde-sm.png) no-repeat;
  }
}

.p-voice__bodySP {
  width: 358px;
  margin-left: -123px;
  margin-top: -18px;
  display: flex;
}

.p-voice__plannerSp {
  display: flex;
  align-items: center;

  &.-star {
    margin-top: 0px;
  }
}

.p-voice__cards-sp {
  display: none;

  @include global.mq(sp) {
    display: block;
    margin-top: -2px;
  }
}
