*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	line-height: 1.2;
}

ol,
ul {
	list-style: none;
}

li,
dd {
	list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

img {
	border: none;
	vertical-align: bottom;
}

a,
button {
	cursor: pointer;
	text-decoration: none;
}

.is-pc {
	display: block;
}

.is-sp {
	display: block;
}

body {
	color: #2D2D32;
	font-family: "Noto Sans JP", "sans-serif";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: inherit;
}

.l-inner {
	margin: 0 auto;
	max-width: 100%;
	width: 1440px;
}

.l-header {
	background: #fff;
	margin: 0 auto;
	max-width: 100%;
	position: fixed;
	width: 100%;
	z-index: 20;
}

.l-header__left {
	margin-left: 120px;
}

.l-header__right {
	display: flex;
	margin-left: auto;
	margin-right: 133px;
}

.l-top {
	background: #EDECFC;
	margin: 0 auto;
	padding-bottom: 33px;
	padding-top: 72px;
}

.l-footer {
	background: #000;
	color: #fff;
}

.l-footer__inner {
	display: flex;
	margin: 0 auto;
	max-width: 100%;
	padding: 27px 0;
	width: 1440px;
}

.l-footer__left {
	padding-left: 120px;
	width: 1183px;
}

.l-footer__right {
	padding-top: 20px;
	width: calc(100% - 1183px);
}

.c-btn {
	background: #64629D;
	color: #fff;
	font-weight: 700;
}

.c-btn__try-header {
	border-radius: 25px;
	padding: 12px 26px;
}

.c-btn__try {
	border-radius: 32.4px;
	box-shadow: 0 4px 6px rgb(0, 0, 0);
	font-size: 18px;
	padding: 18px 26px;
}

.c-btn__try2 {
	border-radius: 32.4px;
	box-shadow: 0 4px 6px rgb(0, 0, 0);
	font-size: 18px;
	padding: 18px 26px;
}

.c-btn__try-large {
	border-radius: 42.2px;
	box-shadow: 0 4px 6px rgb(0, 0, 0);
	font-size: 24px;
	padding: 23px 56px;
}

.c-btn__download {
	background: #fff;
	border: 2px solid #64629D;
	border-radius: 32.4px;
	box-shadow: 0 4px 6px rgb(0, 0, 0);
	color: #64629D;
	font-size: 18px;
	font-weight: 700;
	margin-left: 37px;
	padding: 18px 26px;
}

.c-btn__price {
	background: #fff;
	border: 2px solid #2D2D32;
	border-radius: 50px;
	color: #2D2D32;
	font-size: 18px;
	font-weight: 700;
	padding: 14px 41px;
}

.c-btn__price-basic {
	background: #64629D;
	border: 2px solid #fff;
	border-radius: 50px;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	padding: 14px 41px;
}

.c-drawer {
	height: 22px;
	position: relative;
	transition: transform 0.5s ease 0s;
	width: 21px;
	z-index: 22;
}

.c-drawer.is-open {
	right: 13px;
}

.c-drawer.is-open .c-drawer__line:nth-child(1) {
	top: 50%;
	transform: rotate(-45deg);
}

.c-drawer.is-open .c-drawer__line:nth-child(2) {
	display: none;
}

.c-drawer.is-open .c-drawer__line:nth-child(3) {
	top: 50%;
	transform: rotate(45deg);
}

.c-drawer__line {
	background: #64629D;
	border-radius: 1px;
	content: "";
	height: 3px;
	margin-top: 2px;
	position: absolute;
	width: 100%;
}

.c-drawer__line.is-show {
	background: #64629D;
}

.c-drawer__line:nth-child(1) {
	right: -50%;
	top: 0%;
}

.c-drawer__line:nth-child(2) {
	right: -50%;
	top: 47%;
	transform: translateY(-50%);
	width: 13.3px;
}

.c-drawer__line:nth-child(3) {
	bottom: 0;
	right: -50%;
}

.p-header {
	align-items: center;
	display: flex;
	height: 72px;
	max-width: 100%;
	width: 1440px;
}

.p-header__logo {
	color: #64629D;
	font-family: "Lato";
	font-size: 28px;
	font-weight: 900;
	letter-spacing: 0.05em;
	line-height: 1;
}

.p-header__nav {
	align-items: center;
	display: flex;
}

.p-header__list {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.03em;
	margin-right: 16px;
}

.p-drawer {
	display: none;
}

.p-drawer__menu {
	font-size: 6px;
	font-weight: 700;
	margin-right: 0;
	text-align: right;
}

.p-drawer__menu.is-open {
	display: none;
}

.p-drawer__content {
	background: #EDECFC;
	height: 100%;
	position: fixed;
	right: 0;
	top: 52px;
	transform: translateX(105%);
	transition: transform 0.5s ease 0s;
	width: 100%;
	z-index: 22;
}

.p-drawer__content.is-open {
	transform: translateX(0);
}

.p-drawer__lists {
	margin-left: 64px;
	margin-top: 82px;
}

.p-drawer__lists li {
	color: #2D2D32;
	display: block;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.03em;
	margin-left: 41px;
	margin-top: 40px;
	position: relative;
}

.p-drawer__lists li:first-child {
	margin-top: 0;
}

.p-drawer__lists li::before {
	color: #64629D;
	content: "◇";
	height: 20px;
	left: -32px;
	position: absolute;
	top: 25%;
	transform: translateY(-50%);
	width: 20px;
}

.p-drawer__button {
	margin-top: 64px;
	text-align: center;
}

.p-drawer__background {
	background: #F9F9F9;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0.9;
	position: fixed;
	top: 52px;
	width: 100%;
	z-index: 21;
}

.p-drawer__background.is-open {
	display: block;
}

.p-top {
	align-items: center;
	display: flex;
	max-width: 100%;
}

.p-top__contents {
	margin-bottom: 113px;
	margin-left: 120px;
	margin-top: 117px;
	max-width: 100%;
	width: 54%;
}

.p-top__title {
	font-size: 60px;
	font-weight: 700;
	line-height: 1.6;
}

.p-top__text {
	font-size: 18px;
	line-height: 1.8;
	margin-top: 24px;
}

.p-top__btn {
	display: flex;
	margin-top: 33px;
}

.p-top__img {
	margin-left: 16px;
	margin-right: 80px;
	margin-top: 33px;
	width: 46%;
}

.p-top__btn-sp {
	display: none;
}

.p-about__text {
	font-size: 18px;
	line-height: 1.8;
	margin-top: 29px;
	text-align: center;
}

.p-about__text span {
	font-weight: 700;
}

.p-about__btn {
	margin-top: 40px;
	text-align: center;
}

.p-feature {
	max-width: 100%;
	width: inherit;
}

.p-feature__item {
	align-items: flex-start;
	display: flex;
	flex-direction: row-reverse;
	margin: 256px auto 0;
	margin-left: -153px;
	max-width: 100%;
	width: inherit;
}

.p-feature__item2 {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	margin-left: 120px;
	margin-top: 153px;
	max-width: 100%;
	width: inherit;
}

.p-feature__item3 {
	align-items: flex-start;
	display: flex;
	flex-direction: row-reverse;
	margin: 263px auto 0;
	margin-left: -132px;
	max-width: 100%;
	width: inherit;
}

.p-feature__img {
	margin-left: -95px;
	margin-top: -154px;
	max-width: 100%;
	width: 520px;
	z-index: 2;
}

.p-feature__img2 {
	margin-right: -74px;
	margin-top: 25px;
	max-width: 100%;
	width: 520px;
	z-index: 2;
}

.p-feature__contents {
	background: #fff;
	border-radius: 30px;
	display: flex;
	max-width: 100%;
	padding: 65px 0 64px;
	width: 742px;
}

.p-feature__number {
	color: #64629D;
	font-size: 72px;
	font-weight: 700;
	margin-left: 40px;
}

.p-feature__meta {
	margin-left: 18px;
}

.p-feature__title {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.4;
}

.p-feature__text {
	line-height: 1.8;
	margin-right: 120px;
	margin-top: 17px;
}

.p-trial {
	background: #2D2D32;
	margin: 0 auto;
	padding: 60px 0;
}

.p-trial__title {
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: 1.4;
	text-align: center;
}

.p-trial__btn {
	margin-top: 32px;
	text-align: center;
}

.p-users {
	margin: 40px 200px 0;
}

.p-users__items {
	display: flex;
	flex-wrap: wrap;
}

.p-users__item {
	margin-right: 40px;
	margin-top: 50px;
}

.p-users__item:nth-child(4n) {
	margin-right: 0;
}

.p-users__item:nth-child(-n+4) {
	margin-top: 0;
}

.p-flow {
	display: flex;
	justify-content: center;
	margin-top: 55px;
}

.p-flow__01 {
	margin-top: 16px;
	width: 280px;
}

.p-flow__img {
	background: url(/public/assets/img/Rectangle\ 21.png) no-repeat;
	height: 191px;
	position: relative;
	width: 280px;
}

.p-flow__img img {
	background: url(/public/assets/img/01\ img.png) no-repeat center center/cover;
	content: "";
	height: 148px;
	position: absolute;
	width: 199px;
}

.p-flow__content {
	margin-top: 16px;
}

.p-flow__title {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
}

.p-flow__text {
	margin-top: 8px;
}

.p-flow__omission {
	margin-left: 115px;
	position: relative;
}

.p-flow__omission:first-child {
	margin-left: 0;
}

.p-flow__omission::after {
	background: url(/public/assets/img/Polygon\ 1.png) no-repeat;
	content: "";
	height: 60px;
	left: 120%;
	position: absolute;
	top: 25%;
	transform: translateY(-25%);
	width: 25px;
}

.p-flow__omission:last-child::after {
	display: none;
}

.p-price {
	margin: 0 210px;
}

.p-price__lists {
	align-items: flex-end;
	display: flex;
	justify-content: right;
	margin-top: 68px;
}

.p-price__list {
	background: #2D2D32;
	height: 270px;
	padding: 47px 0 41px;
	position: relative;
	width: 260px;
}

.p-price__list:nth-child(2) {
	background: #64629D;
	height: 286px;
	padding-top: 63px;
	width: 260px;
}

.p-preice__title {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
}

.p-price__price {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	margin-top: 17px;
	text-align: center;
}

.p-price__price span {
	font-size: 36px;
}

.p-price__list-brn {
	margin-top: 28px;
	text-align: center;
}

.p-price__items {
	max-width: 100%;
}

.p-price__item {
	align-items: center;
	background: #EDECFC;
	display: flex;
	height: 60px;
	margin-left: 0;
	width: inherit;
}

.p-price__subject {
	-moz-text-align-last: left;
	font-size: 22px;
	padding: 19px 0px 19px 32px;
	text-align-last: left;
	width: calc(100% - 780px);
}

.p-price__body {
	font-size: 18px;
	max-width: 100%;
	text-align: center;
	width: 260px;
}

.p-price__body:nth-child(3) {
	font-size: 24px;
	font-weight: 700;
}

.back-f {
	background: #fff;
}

.p-price__btn {
	align-items: flex-end;
	display: flex;
	justify-content: right;
	margin-top: 16px;
}

.p-price__btn-box {
	text-align: center;
	width: 260px;
}

.p-price__sp {
	display: none;
}

.p-question {
	margin: 60px 260px 0;
	max-width: 100%;
}

.p-question__q {
	background: #64629D;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	padding: 18px 56px;
	position: relative;
}

.p-question__q::before {
	content: "Q";
	left: 24px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.p-question__q:nth-child(n+2) {
	margin-top: 24px;
}

.p-questions__a {
	background: #fff;
	color: #2D2D32;
	font-size: 18px;
	margin-top: 14px;
	max-width: 100%;
	padding: 18px 21px 18px 56px;
	position: relative;
}

.p-questions__a::before {
	content: "A";
	left: 22px;
	position: absolute;
	top: 25%;
	transform: translateY(-25%);
}

.p-footer__label {
	font-size: 24px;
	font-weight: 900;
}

.p-footer__nav {
	display: inline-flex;
	margin-top: 19px;
}

.p-footer__item {
	font-size: 14px;
	font-weight: 700;
	margin-right: 14px;
}

.p-footer__copylight {
	display: flex;
	font-size: 10px;
	margin-top: 14px;
}

.p-footer__copylight p {
	margin-right: 14px;
}

.p-footer__title {
	font-size: 18px;
	font-weight: 700;
}

.p-footer__sns {
	display: inline-flex;
	margin-top: 12px;
}

.p-footer__sns-icon {
	height: 24px;
	margin-right: 18px;
	width: 24px;
}

.u-separate {
	margin: 100px auto;
}

.u-separate__light {
	background: #f9f9f9;
	margin: 0 auto;
	padding: 100px 0;
}

.u-separate__title {
	color: #9f9ec1;
	font-family: "Futura";
	font-size: 36px;
	font-weight: 700;
	text-align: center;
}

.u-separate__subtitle {
	color: #64629D;
	font-size: 48px;
	font-weight: 700;
	margin-top: 18px;
	text-align: center;
}

@media screen and (min-width: 1440px) {

.is-sp {
	display: none;
}

}

@media screen and (max-width: 1439px) {

.is-sp {
	display: none;
}

.l-inner {
	padding: 0 24px;
}

.l-header {
	padding: 0 24px;
	width: 100%;
}

}

@media screen and (max-width: 767px) {

.is-pc {
	display: none;
}

.l-inner {
	padding: 0 20px;
}

.l-header {
	padding: 0 20px;
	width: 100%;
}

.l-header__left {
	margin-left: 0px;
}

.l-header__right {
	display: none;
}

.l-top {
	padding-bottom: 60px;
	padding-top: 52px;
}

.l-footer__inner {
	flex-direction: column-reverse;
	padding: 40px 0;
}

.l-footer__left {
	padding-left: 0;
	text-align: center;
	width: 100%;
}

.l-footer__right {
	text-align: center;
	width: 100%;
}

.c-btn__try {
	padding: 18px 51px;
}

.c-btn__try2 {
	padding: 18px 41px;
}

.c-btn__try-large {
	font-size: 18px;
	padding: 18px 42px;
}

.c-btn__download {
	margin-left: 0;
	margin-top: 32px;
	padding: 18px 51px;
}

.c-btn__price-basic {
	font-size: 16px;
	padding: 13px 19px;
}

.p-header {
	height: 52px;
}

.p-header__logo {
	font-size: 24px;
}

.p-drawer {
	display: block;
	position: fixed;
	right: 20px;
	top: 10px;
	transition: transform 0.3s ease;
	z-index: 23;
}

.p-top {
	display: block;
}

.p-top__contents {
	margin-bottom: 0;
	margin-left: 0px;
	margin-top: 60px;
	width: 100%;
}

.p-top__title {
	font-size: 30px;
}

.p-top__btn {
	display: none;
}

.p-top__img {
	margin: -25px 0 0 0;
	width: 100%;
}

.p-top__btn-sp {
	display: block;
	margin-top: -14px;
	text-align: center;
	width: 100%;
}

.p-about {
	padding-top: 20px;
}

.p-about__text {
	font-size: 16px;
	line-height: 1.6;
	margin-top: 24px;
}

.p-about__btn {
	margin-top: 24px;
}

.p-feature__item {
	display: block;
	margin: 0 auto;
}

.p-feature__item2 {
	display: block;
	margin: 0 auto;
}

.p-feature__item3 {
	display: block;
	margin: 0 auto;
}

.p-feature__img {
	margin-left: 0;
	margin-top: 40px;
	padding: 0 47px;
}

.p-feature__img2 {
	margin-left: 0;
	margin-top: 60px;
	padding: 0 47px;
}

.p-feature__contents {
	border-radius: 0;
	display: block;
	margin-top: -90px;
	padding: 49px 20px 40px;
	width: 100%;
}

.p-feature__number {
	font-size: 42px;
	margin-left: 0;
}

.p-feature__meta {
	margin-left: 0;
}

.p-feature__title {
	font-size: 22px;
}

.p-feature__text {
	line-height: 1.6;
	margin-right: 0;
	margin-top: 8px;
}

.p-trial {
	padding: 40px 0;
}

.p-trial__title {
	font-size: 18px;
	line-height: 1.6;
}

.p-trial__btn {
	margin-top: 24px;
}

.p-users {
	margin: 24px 0 0;
}

.p-users__item {
	height: auto;
	margin-right: 11px;
	margin-top: 0;
	width: 75px;
}

.p-flow {
	display: block;
	margin-top: 64px;
}

.p-flow__omission {
	margin-left: 0;
	text-align: center;
	width: 100%;
}

.p-flow__omission:nth-child(n+2) {
	margin-top: 84px;
}

.p-flow__omission::after {
	display: none;
}

.p-price {
	display: none;
}

.p-price__sp {
	display: block;
	height: auto;
	width: 100%;
}

.p-question {
	margin: 40px 0 0;
}

.p-question__q {
	border-radius: 4px;
	font-size: 16px;
	padding: 8px 10px 8px 47px;
}

.p-question__q::before {
	font-size: 22px;
	left: 15px;
	top: 25%;
	transform: translateY(-25%);
}

.p-questions__a {
	margin-top: 16px;
	padding: 12px 16px 12px 41px;
}

.p-questions__a::before {
	font-size: 22px;
	left: 15px;
	top: 12.5%;
	transform: translateY(-12.5%);
}

.p-footer {
	margin-top: 32px;
}

.p-footer__nav {
	display: block;
	margin-top: 0;
}

.p-footer__item {
	margin-right: 0px;
	margin-top: 14px;
}

.p-footer__copylight {
	display: block;
	margin-top: 28px;
}

.p-footer__copylight p {
	margin-right: 0;
}

.p-footer__copylight p:nth-child(2) {
	margin-top: 10px;
}

.u-separate {
	margin: 60px auto;
}

.u-separate__light {
	padding: 60px 0;
}

.u-separate__title {
	font-size: 22px;
}

.u-separate__subtitle {
	font-size: 30px;
	letter-spacing: 0.05em;
	line-height: 1.4;
	margin-top: 12px;
}

}

