*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	line-height: 1.2;
}

ol,
ul {
	list-style: none;
}

li,
dd {
	list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

img {
	border: none;
	vertical-align: bottom;
}

a,
button {
	cursor: pointer;
	text-decoration: none;
}

.is-pc {
	display: block;
}

.is-sp {
	display: block;
}

body {
	color: #2D2D32;
	font-family: "Noto Sans JP", "sans-serif";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: inherit;
}

.l-inner {
	margin: 0 auto;
	max-width: 100%;
	width: 1440px;
}

.l-header {
	background: #fff;
	margin: 0 auto;
	position: fixed;
	width: 100%;
}

.l-header__left {
	margin-left: 120px;
	margin-right: auto;
}

.l-header__right {
	display: flex;
	margin-left: auto;
}

.l-top {
	background: #EDECFC;
	margin: 0 auto;
	padding-bottom: 33px;
	padding-top: 105px;
}

.c-btn {
	background: #64629D;
	color: #fff;
	font-weight: 700;
}

.c-btn__try-header {
	border-radius: 25px;
	padding: 12px 26px;
}

.c-btn__try {
	border-radius: 32.4px;
	box-shadow: 0 4px 6px rgb(0, 0, 0);
	font-size: 18px;
	padding: 18px 26px;
}

.c-btn__download {
	background: #fff;
	border: 2px solid #64629D;
	border-radius: 32.4px;
	box-shadow: 0 4px 6px rgb(0, 0, 0);
	color: #64629D;
	font-size: 18px;
	font-weight: 700;
	margin-left: 37px;
	padding: 18px 26px;
}

.p-header {
	align-items: center;
	display: flex;
	height: 72px;
	max-width: 100%;
	width: 1440px;
}

.p-header__nav {
	align-items: center;
	display: flex;
}

.p-header__list {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.03;
	margin-right: 16px;
}

.p-header__list:last-child {
	margin-right: 40px;
}

.p-drawer {
	display: none;
}

.p-top {
	align-items: center;
	display: flex;
	max-width: 100%;
}

.p-top__contents {
	margin-left: 120px;
	max-width: 100%;
	width: calc(100% - 648px);
}

.p-top__title {
	font-size: 60px;
	font-weight: 700;
}

.p-top__text {
	font-size: 18px;
	margin-top: 24px;
}

.p-top-btn {
	display: flex;
	margin-top: 33px;
}

.p-top__img {
	margin-right: 133px;
	width: 648px;
}

@media screen and (min-width: 1440px) {

.is-sp {
	display: none;
}

}

@media screen and (max-width: 1439px) {

.is-sp {
	display: none;
}

.l-inner {
	padding: 0 24px;
}

.l-header {
	padding: 0 24px;
}

}

@media screen and (max-width: 767px) {

.is-pc {
	display: none;
}

.l-inner {
	padding: 0 16px;
}

.l-header {
	padding: 0 16px;
}

}

