*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	line-height: 1.5;
}

ol,
ul {
	list-style: none;
}

li,
dd {
	list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

img {
	border: none;
	vertical-align: bottom;
}

a,
button {
	cursor: pointer;
	text-decoration: none;
}

.is-pc {
	display: block;
}

.is-sp {
	display: block;
}

body {
	color: #757676;
	font-family: "YuGothic", "sans-serif";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: inherit;
}

.l-inner {
	margin: 0 auto;
	max-width: 100%;
	width: 1440px;
}

.l-header {
	margin: 0 auto;
	max-width: 100%;
}

.l-header__nav {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 20;
}

.l-top {
	background: #fff;
	margin: 0 auto;
	margin-bottom: 117px;
}

.l-footer {
	background: #F7F7F7;
}

.l-footer__inner {
	margin: 0 auto;
	max-width: 100%;
}

.l-footer__head {
	display: flex;
	padding: 48px 0 67px;
}

.l-footer__left {
	padding-left: 160px;
	width: 760px;
}

.l-footer__right {
	margin-top: 24px;
	width: calc(100% - 760px);
}

.l-reports {
	background: #EEF9F8;
	padding: 73px 0;
}

.l-best {
	margin: 73px auto 64px;
}

.l-recommend {
	background-image: repeating-linear-gradient(90deg, rgba(132, 214, 214, 0.08), rgba(132, 214, 214, 0.08) 1px, transparent 1px, transparent 20px), repeating-linear-gradient(0deg, rgba(132, 214, 214, 0.08), rgba(132, 214, 214, 0.08) 1px, #fff 1px, #fff 20px);
	padding: 73px 0 70px;
}

.c-btn__plan {
	background: #757676;
	border: 1px solid #fff;
	color: #fff;
	font-weight: 500;
	height: auto;
	letter-spacing: 0.08;
	line-height: 1.5;
	padding: 8px 10px;
	width: 367px;
}

.c-btn__accent {
	font-size: 20px;
	font-weight: 500;
}

.c-btn__accent span {
	font-family: "Tsukushi B Round Gothic", "sans-serif";
	font-size: 24px;
	font-weight: 700;
}

.c-btn__area {
	background: #84D6D6;
	border: 1px solid #fff;
	color: #fff;
	font-weight: 500;
	height: auto;
	letter-spacing: 0.08;
	line-height: 1.5;
	padding: 8px 10px;
	width: 367px;
}

.c-btn__area span {
	font-size: 24px;
	font-weight: 700;
}

.c-btn__best {
	background: #84D6D6;
	color: #fff;
	font-size: 20px;
	letter-spacing: 0.08;
	padding: 16px 64px;
	text-align: center;
}

.c-drawer {
	height: 22px;
	position: relative;
	transition: transform 0.5s ease 0s;
	width: 21px;
	z-index: 22;
}

.c-drawer.is-open {
	right: 13px;
}

.c-drawer.is-open .c-drawer__line:nth-child(1) {
	top: 50%;
	transform: rotate(-45deg);
}

.c-drawer.is-open .c-drawer__line:nth-child(2) {
	display: none;
}

.c-drawer.is-open .c-drawer__line:nth-child(3) {
	top: 50%;
	transform: rotate(45deg);
}

.c-drawer__line.is-show {
	background: #F1B04E;
}

.c-drawer__line:nth-child(1) {
	right: -50%;
	top: 0%;
}

.c-drawer__line:nth-child(2) {
	right: -50%;
	top: 47%;
	transform: translateY(-50%);
	width: 13.3px;
}

.c-drawer__line:nth-child(3) {
	bottom: 0;
	right: -50%;
}

.c-area {
	border: 1px solid #84D6D6;
	color: #84D6D6;
	font-size: 10px;
	font-weight: 500;
	line-height: 1.5;
	padding: 4px 7px;
}

.c-category__green {
	background: #ABD07B;
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	padding: 2px 8px;
}

.c-category__orange {
	background: #F1B04E;
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	padding: 2px 8px;
}

.c-tag {
	background: #84D6D6;
	border-radius: 45px;
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	padding: 2px 6px 2px 4px;
}

.p-header {
	background: #84D6D6;
	height: 100px;
	margin: 0 auto;
	right: 0;
	top: 0;
	width: inherit;
	width: 100px;
}

.p-header__beginner {
	background: #fff;
	border: 1px solid #84D6D6;
	height: 100px;
	margin: 0 auto;
	position: relative;
	right: 0;
	top: 0px;
	width: inherit;
	width: 100px;
}

.p-header__beginner::before {
	background: url(/public/assets/img/beginner.png) no-repeat center center/contain;
	content: "";
	height: 32px;
	left: 50%;
	position: absolute;
	top: 21px;
	transform: translateX(-50%);
	width: 23px;
}

.p-header__text {
	font-size: 12px;
	margin-top: 58px;
	text-align: center;
}

.p-header__login {
	background: #fff;
	border: 1px solid #84D6D6;
	height: 100px;
	margin: 0 auto;
	position: relative;
	right: 0;
	top: 0px;
	width: inherit;
	width: 100px;
}

.p-header__login::before {
	background: url(/public/assets/img/login.png) no-repeat center center/contain;
	content: "";
	height: 32px;
	left: 50%;
	position: absolute;
	top: 21px;
	transform: translateX(-50%);
	width: 23px;
}

.p-header__likes {
	background: #fff;
	border: 1px solid #84D6D6;
	height: 100px;
	margin: 0 auto;
	position: relative;
	right: 0;
	top: 0px;
	width: inherit;
	width: 100px;
}

.p-header__likes::before {
	background: url(/public/assets/img/likes.png) no-repeat center center/contain;
	content: "";
	height: 32px;
	left: 50%;
	position: absolute;
	top: 21px;
	transform: translateX(-50%);
	width: 23px;
}

.p-drawer {
	background: url(/public/assets/img/humberger.png) no-repeat center center/contain;
	cursor: pointer;
	margin-top: 37.37px;
}

.p-drawer__content {
	background: #EEF9F8;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(105%);
	transition: transform 0.5s ease 0s;
	width: 100%;
	z-index: 22;
}

.p-drawer__content.is-open {
	transform: translateX(0);
}

.p-drawer__lists {
	background: #fff;
	display: flex;
	height: 800px;
	margin: 30px auto;
	max-width: 100%;
	width: 1380px;
}

.p-drawer__list-left {
	border-right: 1px solid #757676;
	margin: 168px auto 86px;
	padding-left: 172px;
	position: relative;
	width: 50%;
}

.p-drawer__list-right {
	margin-top: 168px;
	padding-left: 91px;
	width: 50%;
}

.p-drawer__lists li {
	color: #757676;
	display: block;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0.03em;
	margin-top: 22px;
	position: relative;
}

.p-drawer__button {
	margin-top: 64px;
	text-align: center;
}

.p-drawer__background {
	background: #EEF9F8;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0.9;
	position: fixed;
	top: 52px;
	width: 100%;
	z-index: 21;
}

.p-drawer__background.is-open {
	display: block;
}

.p-top {
	margin: 0 auto;
	position: relative;
	text-align: center;
}

.p-top__contents {
	background: #fff;
	content: "";
	height: 808.15px;
	left: 145px;
	opacity: 0.9;
	position: absolute;
	top: 0;
	width: 414px;
}

.p-top__subtitle {
	font-family: "Avenir", "sans-serif";
	margin-top: 136px;
}

.p-top__subtitle span {
	margin-top: 7px;
}

.p-top__title {
	font-family: "Tsukushi B Round Gothic", "sans-serif";
	font-size: 48px;
	font-weight: 400;
	line-height: 1.5;
	margin: 40px auto 21px;
	padding-top: 27px;
	position: relative;
}

.p-top__title span {
	color: #84D6D6;
	font-size: 64px;
	letter-spacing: 0.08;
}

.p-top__title::before {
	border-top: 1px solid #757676;
	content: "";
	left: 50%;
	position: absolute;
	top: 0px;
	transform: translateX(-50%);
	width: 218px;
}

.p-top__title::after {
	border-top: 1px solid #757676;
	bottom: -50px;
	content: "";
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 218px;
}

.p-top__btn {
	bottom: -57px;
	content: "";
	display: flex;
	left: 0;
	position: absolute;
}

.p-top__btn-plan {
	background: #757676;
	height: auto;
	padding: 15px 16px;
	position: relative;
	width: 400px;
}

.p-top__btn-plan::after {
	background: url(/public/assets/img/arrow.png) no-repeat center center/contain;
	content: "";
	height: 24px;
	position: absolute;
	right: 90px;
	top: 50%;
	transform: translateY(-50%);
	width: 44px;
}

.p-top__btn-area {
	background: #84D6D6;
	height: auto;
	padding: 15px 16px;
	position: relative;
	width: 400px;
}

.p-top__btn-area::after {
	background: url(/public/assets/img/arrow.png) no-repeat center center/contain;
	content: "";
	height: 24px;
	position: absolute;
	right: 90px;
	top: 50%;
	transform: translateY(-50%);
	width: 44px;
}

.p-footer__sns {
	display: flex;
	margin-left: 37px;
	margin-top: 10px;
}

.p-footer__sns:first-child {
	margin-left: 0;
}

.p-footer__sns-title {
	display: inline-block;
	letter-spacing: 0.1;
	margin-left: 70px;
	margin-top: 22px;
	position: relative;
}

.p-footer__sns-title::before {
	border-left: 1px solid #757676;
	content: "";
	height: 21px;
	left: -23px;
	position: absolute;
	transform: rotate(-45deg);
}

.p-footer__sns-title::after {
	border-left: 1px solid #757676;
	content: "";
	height: 21px;
	position: absolute;
	right: -23px;
	transform: rotate(45deg);
}

.p-footer__sns-icon {
	margin-right: 18px;
}

.p-footer__nav {
	display: flex;
	flex-wrap: wrap;
}

.p-footer__item {
	line-height: 1.5;
	margin-right: 24px;
}

.p-footer__item:nth-child(n+5) {
	margin-top: 24px;
}

.p-footer__policy {
	border-top: 1px solid #757676;
	display: flex;
	justify-content: flex-end;
	margin: 0 100px;
	padding: 24px 67px;
}

.p-footer__name {
	margin-left: 24px;
}

.p-footer__copylight {
	background: #84D6D6;
	color: #fff;
	font-size: 10px;
	letter-spacing: 0.1;
	padding: 9px 0;
	text-align: center;
}

.p-footer__copylight p span {
	font-size: 12px;
}

.p-footer__copylight p:first-child {
	padding-bottom: 8px;
}

.p-reports {
	margin-left: 146px;
	margin-top: 64px;
}

.p-reports__title {
	color: #84D6D6;
	font-family: "Avenir", "sans-serif";
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	position: relative;
}

.p-reports__title span {
	color: #757676;
	font-family: "Tsukushi B Round Gothic", "sans-serif";
	margin-left: 8px;
}

.p-reports__title::before {
	background: #d9d9d9;
	content: "";
	height: 8px;
	left: -16px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
}

.p-reports__planners {
	display: inline-flex;
	margin-top: 24px;
}

.p-reports__planner {
	display: flex;
	height: 160px;
	margin-right: 55px;
	position: relative;
	width: 490px;
}

.p-reports__planner::before {
	border: 1px solid #fff;
	content: "";
	height: 146px;
	left: 7px;
	position: absolute;
	top: 7px;
	width: 476px;
}

.p-reports__img {
	height: inherit;
	width: 158px;
}

.p-reports__contents {
	background: #fff;
	padding-left: 36px;
	padding-right: 33px;
	width: 332px;
}

.p-reports__name {
	font-family: "Tsukushi B Round Gothic", "sans-serif";
	font-size: 22px;
	font-weight: 400;
	line-height: 1.5;
	margin-top: 8px;
	position: relative;
}

.p-reports__name::before {
	background: url(/public/assets/img/star1.png) no-repeat;
	content: "";
	height: 26px;
	position: absolute;
	right: -22px;
	top: 2px;
	width: 26px;
}

.p-reports__name::after {
	background: url(/public/assets/img/star.png) no-repeat;
	content: "";
	height: 15px;
	position: absolute;
	right: -17px;
	top: 7px;
	width: 15px;
}

.p-reports__company {
	font-size: 12px;
	font-weight: 500;
	line-height: 1.5;
}

.p-reports__area {
	align-items: start;
	border-top: 1px solid #757676;
	display: flex;
	margin-top: 8px;
	padding-top: 16px;
}

.p-reports__label {
	display: inline;
	width: 54px;
}

.p-reports__place {
	display: flex;
	flex-wrap: wrap;
	font-size: 14px;
	gap: 8px 4px;
	margin-left: 8px;
	width: 241px;
}

.p-reports__head {
	margin-left: 146px;
	margin-top: 72px;
}

.p-reports__cards {
	display: inline-flex;
	margin-top: 24px;
}

.p-reports__card {
	background: #fff;
	height: 430px;
	margin-right: 24px;
	position: relative;
	width: 416px;
}

.p-reports__card::before {
	border: 1px solid #84d6d6;
	content: "";
	height: 406px;
	left: 12px;
	position: absolute;
	top: 12px;
	width: 392px;
}

.p-reports__card-row {
	height: 216px;
	margin: 24px 24px 0;
	width: 368px;
}

.p-reports__c-img {
	height: auto;
	max-width: 100%;
	padding-top: 24px;
	position: relative;
}

.p-reports__c-img::before {
	background: url(/public/assets/img/ellipse.png) no-repeat;
	content: "";
	height: 26px;
	position: absolute;
	right: 12px;
	top: 36px;
	width: 26px;
}

.p-reports__c-img::after {
	background: url(/public/assets/img/heart.png) no-repeat;
	content: "";
	height: 11.39px;
	position: absolute;
	right: 18.74px;
	top: 43.87px;
	width: 12.72px;
}

.p-reports__body {
	background: #fff;
	bottom: 13px;
	content: "";
	margin: 0 12px;
	opacity: 0.88;
	padding: 0 15px;
	position: absolute;
	width: 332px;
}

.p-reports__comment {
	font-family: "Tsukushi B Round Gothic", "sans-serif";
	font-size: 18px;
	line-height: 1.4;
	margin: 16px auto 8px;
}

.p-reports__category {
	border-top: 1px solid #757676;
	padding-top: 8px;
}

.p-reports__meta {
	display: inline;
	line-height: 1.4;
}

.p-reports__text {
	margin-top: 8px;
}

.p-reports__area-tag {
	align-items: center;
	display: flex;
	margin-top: 8px;
}

.p-reports__tag {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	margin: 10px auto 13px;
}

.p-best {
	font-family: "Tsukushi B Round Gothic", "sans-serif";
	font-size: 36px;
	letter-spacing: 0.1;
	line-height: 1.667;
	margin-top: 76px;
	text-align: center;
}

.p-best span {
	color: #84D6D6;
	font-size: 48px;
}

.p-best__content {
	height: auto;
	margin-top: 8px;
	position: relative;
	width: 100%;
}

.p-best__content::before {
	background: transparent url(/public/assets/img/background-logo.png) no-repeat;
	content: "";
	height: 565px;
	position: absolute;
	right: 2px;
	top: 0;
	width: 1047px;
}

.p-best__text {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.05;
	line-height: 2.222;
	padding-top: 48px;
	text-align: center;
}

.p-best__footer {
	margin: 54px auto 0;
	text-align: center;
}

.p-best__footer-text {
	color: #84D6D6;
	display: inline-block;
	position: relative;
}

.p-best__footer-text::before {
	border-left: 1px solid #84D6D6;
	content: "";
	height: 21px;
	left: -16px;
	position: absolute;
	transform: rotate(-45deg);
}

.p-best__footer-text::after {
	border-left: 1px solid #84D6D6;
	content: "";
	height: 21px;
	position: absolute;
	right: -16px;
	transform: rotate(45deg);
}

.p-best__button {
	margin-top: 8px;
	text-align: center;
}

.p-best__gallery {
	margin: 54px auto 0;
	width: 100%;
}

.p-recommend {
	background: #EEF9F8;
	height: 390px;
	margin: 64px auto 70px;
	max-width: 100%;
	width: 1240px;
}

.p-recommend__box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 34px;
	padding-top: 59px;
	width: inherit;
}

.p-recommend__plan {
	display: flex;
	height: 125px;
	margin-right: 70px;
	position: relative;
	width: 342px;
}

.p-recommend__plan::before {
	border: 1px solid #fff;
	content: "";
	height: 111px;
	left: 7px;
	position: absolute;
	top: 7px;
	width: 328px;
	z-index: 1;
}

.p-recommend__plan:nth-child(n+4) {
	margin-top: 42px;
}

.p-recommend__plan:nth-child(4) {
	margin-right: 81px;
}

.p-recommend__ribbon {
	background: #D684B8;
	content: "";
	height: 41px;
	left: -13px;
	position: absolute;
	top: -16px;
	width: 41px;
}

.p-recommend__ribbon2 {
	background: #84B6D6;
	content: "";
	height: 41px;
	left: -13px;
	position: absolute;
	top: -16px;
	width: 41px;
}

.p-recommend__ribbon3 {
	background: #F1B04E;
	content: "";
	height: 41px;
	left: -13px;
	position: absolute;
	top: -16px;
	width: 41px;
}

.p-recommend__ribbon4 {
	background: #D6BF84;
	content: "";
	height: 41px;
	left: -13px;
	position: absolute;
	top: -16px;
	width: 41px;
}

.p-recommend__ribbon5 {
	background: #ABD07B;
	content: "";
	height: 41px;
	left: -13px;
	position: absolute;
	top: -16px;
	width: 41px;
}

.p-recommend__img {
	height: inherit;
	width: 125px;
}

.p-recommend__content {
	align-items: center;
	background: #fff;
	display: flex;
	justify-content: center;
	position: relative;
	text-align: center;
	width: 217px;
}

.p-recommend__content::before {
	border-bottom: 1px solid #757676;
	bottom: 16px;
	content: "";
	position: absolute;
	right: 16px;
	width: 45px;
}

.p-recommend__content::after {
	border-bottom: 1px solid #757676;
	bottom: 19px;
	content: "";
	position: absolute;
	right: 14px;
	transform: rotate(45deg);
	width: 10px;
}

.p-recommend__footer {
	margin-bottom: 16px;
	margin-right: 16px;
}

.u-separate {
	margin: 100px auto;
}

.u-separate__light {
	background: #f9f9f9;
	margin: 0 auto;
	padding: 100px 0;
}

.u-separate__title {
	color: #9f9ec1;
	font-family: "Futura";
	font-size: 36px;
	font-weight: 700;
	text-align: center;
}

.u-separate__subtitle {
	color: #F1B04E;
	font-size: 48px;
	font-weight: 700;
	margin-top: 18px;
	text-align: center;
}

.swiper {
	margin-top: 24px;
	width: 100%;
}

.swiper-wrapper {
	transition-timing-function: linear;
}

.swiper-slide {
	overflow: hidden;
	transition: 0.7s;
}

.swiper-button-prev {
	widthh: 40px;
	heigt: 40px;
	background: transparent url(/public/assets/img/green_cercle.png) no-repeat center center/contain;
	left: 50px;
	margin-top: -20px;
}

.swiper-button-prev::after {
	color: #fff;
	font-size: 10px;
}

.swiper-button-next {
	widthh: 40px;
	heigt: 40px;
	background: transparent url(/public/assets/img/green_cercle.png) no-repeat center center/contain;
	margin-top: -20px;
	right: 50px;
}

.swiper-button-next::after {
	color: #fff;
	font-size: 10px;
}

.slider .swiper-slide {
	margin-right: 3px;
}

.slider .swiper-slide img {
	height: 235px;
	width: 235px;
}

.u-separate__section {
	align-items: center;
	display: flex;
}

.u-separate__sectionTitle {
	font-family: "Avenir", "sans-serif";
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 0.1;
	line-height: 1.4;
	margin-left: 118px;
	position: relative;
	z-index: 2;
}

.u-separate__sectionTitle::before {
	background: #84D6D6;
	content: "";
	height: 35px;
	left: -18px;
	position: absolute;
	top: -9px;
	width: 35px;
	z-index: -1;
}

.u-separate__sectionSub {
	font-family: "Tsukushi B Round Gothic", "sans-serif";
	font-size: 20px;
	line-height: 1.5;
	margin-left: 48px;
	position: relative;
}

.u-separate__sectionSub::before {
	border-left: 1px solid #84D6D6;
	content: "";
	height: 40px;
	left: -24px;
	position: absolute;
	width: 1px;
}

.u-separate__sub {
	margin-left: 146px;
	margin-top: 64px;
}

.u-separate__sub-title {
	color: #84D6D6;
	font-family: "Avenir", "sans-serif";
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	position: relative;
}

.u-separate__sub-title span {
	color: #757676;
	font-family: "Tsukushi B Round Gothic", "sans-serif";
	margin-left: 8px;
}

.u-separate__sub-title::before {
	background: #d9d9d9;
	content: "";
	height: 8px;
	left: -16px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
}

@media screen and (min-width: 1440px) {

.is-sp {
	display: none;
}

}

@media screen and (max-width: 1439px) {

.is-sp {
	display: none;
}

.l-inner {
	padding: 0 24px;
}

.l-header {
	padding: 0 24px;
	width: 100%;
}

}

@media screen and (max-width: 767px) {

.is-pc {
	display: none;
}

.l-inner {
	padding: 0 20px;
}

.l-header {
	padding: 0 20px;
	width: 100%;
}

.l-top {
	margin-bottom: 40px;
}

.l-footer__head {
	display: block;
	flex-direction: column-reverse;
	padding: 40px 0 64px;
}

.l-footer__left {
	padding-left: 0;
	text-align: center;
	width: 100%;
}

.l-footer__right {
	text-align: center;
	width: 100%;
}

.p-drawer {
	top: 10px;
	transition: transform 0.3s ease;
	z-index: 23;
}

.u-separate {
	margin: 60px auto;
}

.u-separate__light {
	padding: 60px 0;
}

.u-separate__title {
	font-size: 22px;
}

.u-separate__subtitle {
	font-size: 30px;
	letter-spacing: 0.05em;
	line-height: 1.4;
	margin-top: 12px;
}

}

