@use "../global" as global;

.l-footer {
  background: #F7F7F7;
}

.l-footer__inner {
  max-width: 100%;
  margin: 0 auto;
}


.l-footer__head {
  padding: 48px 0 67px;
  display: flex;

  @include global.mq(sp) {
    display: block;
    padding: 40px 0 64px;
    flex-direction: column-reverse;
  }
}

.l-footer__left {
  width: 760px;
  padding-left: 160px;


  @include global.mq(sp) {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

}

.l-footer__right {
  width: calc(100% - 760px);
  margin-top: 24px;


  @include global.mq(sp) {
    width: 100%;
    text-align: center;
  }
}
