@use "../global" as global;

.l-header {
  margin: 0 auto;
  max-width: 100%;
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0;

  @include global.mq(tab) {
    padding: 0 24px;
    width: 100%;
  }

  @include global.mq(sp) {
    padding: 0 20px;
    width: 100%;
  }
}

.l-header__nav {
  display: flex;
  flex-direction: column;
}
