@use "../global" as global;

.l-header {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background: #fff;
  position: fixed;
  z-index: 20;

  @include global.mq(tab) {
    padding: 0 24px;
    width: 100%;
  }

  @include global.mq(sp) {
    padding: 0 20px;
    width: 100%;
  }
}

.l-header__left {
  margin-left: 120px;

  @include global.mq(sp) {
    margin-left: 0px;
  }
}

.l-header__right {
  margin-left: auto;
  margin-right: 133px;
  display: flex;

  @include global.mq(sp) {
    display: none;
  }
}
