@use "../global" as global;

.l-recommend {
  background-image:
  repeating-linear-gradient(
    90deg,
    rgba(132, 214, 214, 0.08),
    rgba(132, 214, 214, 0.08) 1px,
    transparent 1px,
    transparent 20px,
    ),
  repeating-linear-gradient(
    0deg,
    rgba(132, 214, 214, 0.08),
    rgba(132, 214, 214, 0.08) 1px,
    #fff 1px,
    #fff 20px
  );
  padding: 74px 0 72px;

  @include global.mq(sp) {
    padding: 69px 0 64px;
    margin-bottom: 24px;
  }
}
