@use "../global" as global;

.l-top {
  margin: 0 auto;
  background: rgba(132, 214, 214, .2);
  margin-bottom: 117px;

  @include global.mq(sp) {
    margin-bottom: 40px;
    background: transparent;
  }
}
