@use "../global" as global;

.c-category__green {
  font-size: 12px;
  font-weight: 500;
  padding: 2px 8px;
  background: #ABD07B;
  color: #fff;
}

.c-category__orange {
  font-size: 12px;
  font-weight: 500;
  padding: 2px 8px;
  background: #F1B04E;
  color: #fff;
}

.c-category__pink {
  font-size: 12px;
  font-weight: 500;
  padding: 2px 8px;
  background: #D684B8;
  color: #fff;
}
