@use "../global" as global;

.c-drawer {
  width: 33.75px;
  height: 26.25px;
  position: relative;
  z-index: 22;
  transition: transform .5s ease 0s;

  &.is-open {
    right: 13px;

    .c-drawer__line{
      &:nth-child(1) {
        transform: rotate(-45deg);
        top: 50%;
      }

      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        transform: rotate(45deg);
        top: 50%;
      }
    }
  }

  @include global.mq(sp) {

  }
}

.c-drawer__line {
  width: 13.3px;
  height: 3px;
  border-radius: 1px;
  background: global.$accent-color;


  &.is-show {
    background: global.$accent-color;
  }

  &:nth-child(1) {
    top: 0%;
    right: -50%;
  }

  &:nth-child(2) {
    top: 47%;
    right: -50%;
    transform: translateY(-50%);
  }

  &:nth-child(3) {
    bottom: 0;
    right: -50%;
  }
}
