@use "../global" as global;

.c-swiper {

}

swiper {
  width: 100%;
  margin-top: 24px;
  // overflow: hidden;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.swiper-slide {
  overflow: hidden;
  transition: .7s;
}

.swiper-button-prev {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  left: 50px;
  background: transparent url(/public/assets/img/green_cercle.png) no-repeat center center /contain;

  &::after {
    font-size: 10px;
    color: #fff;
  }
}

.swiper-button-next {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  right: 50px;
  background: transparent url(/public/assets/img/green_cercle.png) no-repeat center center /contain;

  &::after {
    font-size: 10px;
    color: #fff;
  }
}

.slider .swiper-slide {
  margin-right: 3px;

  img {
    width: 235px;
    height: 235px;
  }
}

.swipe3 .swiper-slide  {
  width: 348px;
  width: calc(348px + 32px);
  // margin-right: 32px;
}

.swipe4 .swiper-button-prev {
  margin-top: -20px;
  left: 11px;
  background: rgba(117, 118, 118, .35);
  width: 40px;
  height: 40px;
  border-radius: 20px;

  &::after {
    font-size: 10px;
    color: #fff;
  }
}

.swipe4 .swiper-button-next {
  margin-top: -20px;
  right: 11px;
  background: rgba(117, 118, 118, .35);
  width: 40px;
  height: 40px;
  border-radius: 20px;

  &::after {
    font-size: 10px;
    color: #fff;
  }
}
