.is-pc {
	display: block;
}

.is-sp {
	display: block;
}

.l-best {
	margin: 73px auto;
}

@media screen and (min-width: 1440px) {

.is-sp {
	display: none;
}

}

@media screen and (max-width: 1439px) {

.is-sp {
	display: none;
}

}

@media screen and (max-width: 767px) {

.is-pc {
	display: none;
}

}

